.cart {
  width: 360px;
  height: 500px;
  border: 1px solid #95a0a7;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  position: relative;
  background-color: rgba(128, 128, 128, 0.651);
  position: sticky;
  top: 0;
  margin-top: 100px;
}
.selected-product {
  display: flex;
}
.selected-product-img {
  width: 280px;
  height: 500px;
  align-items: center;
  justify-content: center;
}
.selected-cart-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.seleted-product-text {
  color: purple;
}
.randomly-choosen-btn {
  position: absolute;
  bottom: 60px;
}

.choose-again-btn {
  background-color: purple;
  position: absolute;
  bottom: 20px;
}
.choose-again-btn:hover {
  background-color: purple;
  color: #fff;
}

@media screen and (max-width: 1400px) {
  .randomly-choosen-btn {
    position: absolute;
    bottom: 70px;
  }
}
