.header {
  height: 80px;
  background-color: rgba(128, 128, 128, 0.651);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
}
.logo {
  width: 50px;
  height: 50px;
}
.logo-title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
}

.header a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  margin-left: 36px;
}

.header a:hover {
  color: purple;
  font-weight: 600;
}

@media screen and (max-width: 689px) {
  .header {
    max-width: 100%;
    max-width: auto;
  }
  .logo {
    width: 30px;
    height: 30px;
  }
  .logo-title {
    font-size: 14px;
  }
  .header a {
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 690px) {
  .header {
    max-width: 100%;
  }
}
